.action{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 100ms linear;
}
.action:hover {
    transform: scale(1.02);
}

.action::before {
    content: "";
    background-color: #4A69BF;
    width: 10px;
    height: 10px;
    margin-right: 10px; 
}
