.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #F4781E;
    text-shadow: 4px 4px 0 #000;
}

.main-title.-second {
    color: rgb(255, 255, 255);
    text-shadow: none;
    text-align: center;
}
