.skill-tecno {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #FFF;
    
}

.skill-tecno .icon {
    margin-right: 25px;
    border: none;
    width: 90px;
}

.skill-tecno .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tecno .title {
    margin-bottom: 16px;
}
